body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-column {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.red-required {
  color: red;
}

.board-title,
.card-title,
.column-header {
  cursor: pointer;
}

.column-row {
  height: calc(100vh - 120px);
}

.card-column {
  width: 20rem;
}

